.app {
  background-image: url(milky-way-2695569_1920.jpg);
  width: 400px;
  place-items: center;
  position: relative;
  height: 100vh;
  overflow: scroll;
}
.app::-webkit-scrollbar {
  display: none;
}

.app__tasks {
  padding: 20px;
  height: 800px;
  text-align: center;
  align-content: center;
  color: white;
}
